<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809563515817-8ghqrb7g3cut0aj5jpkfkvnc94tj2det.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809563515817-8ghqrb7g3cut0aj5jpkfkvnc94tj2det</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809563515817-63167q5elh0700mt4kia60cg81otf5r9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaKKWshOZC95uDDygc-XZyqI8GZRZP-pY</string>
	<key>GCM_SENDER_ID</key>
	<string>809563515817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Obi.Obi</string>
	<key>PROJECT_ID</key>
	<string>obivision-7645d</string>
	<key>STORAGE_BUCKET</key>
	<string>obivision-7645d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809563515817:ios:91935461c90cee68bd72b8</string>
	<key>DATABASE_URL</key>
	<string>https://obivision-7645d-default-rtdb.firebaseio.com</string>
</dict>
</plist>